<div class="user_wrap">
  <div class="user_wrap_inner">
    <h1 class="user_h1 txC">マイページ情報編集</h1>
    <%= form_for(@user) do |f| %>
      <p class="text_field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </p>
      <p class="text_field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <%= f.hidden_field :role, value: @user.role %>
      <p class="user_submit"><%= f.submit "登録" %></p>
    <% end %>
  </div>
</div>
