<div class="event_wrap">
  <div class="event_wrap_inner">
    <h1 class="event_h1 txC">イベント</h1>
    <h2 class="event_h2">イベント名</h2>
    <p class="event_show_p"><%= @event.title %></p>
    <h2 class="event_h2">イベント名</h2>
    <p class="event_show_p"><%= @event.description %></p>
    <h2 class="event_h2">publicはtrueか（イベント情報を公開するか）</h2>
    <p class="event_show_p"><%= @event.public %></p>
    <div class="link_wrap event_link txC ma-t30 ma-u30">
      <%= link_to "一覧へ", controller: "events", action: :index %>
    </div>
    <% if check_role %>
      <% get_following @event.id %>
      <% if check_following @event.id %>
        <%= form_for @following, url: followings_path, method: :post do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.hidden_field :user_id, value: session[:user_id] %>
        <p class="event_submit"><%= f.submit "参加" %></p>
        <% end %>
      <% else %>
        <div class="link_wrap event_link txC">
          <%= link_to "参加をキャンセル", following_path(@following.id), method: :delete %>
        </div>
      <% end %>
    <% else %>
      <div class="link_wrap event_link txC">
        <%= link_to "編集", controller: "events", action: :edit %>
      </div>
    <% end %>
  </div>
</div>
